<div class="background-image-container mt-ncs">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div style="padding-top: 3em;">
          <h3 class="display-5" class="cl">Comparing three institutional repository software platforms at OR2024</h3>
          <h1 class="display-3" style="font-family: 'Manrope', SansSerif; font-weight: 500; padding: 2rem; text-transform: uppercase;">DSpace 8</h1>
          <!--<p class="lead">DSpace is the ! leading open source repository platform that enables
            organisations to:</p>-->
        </div>
      </div>
      <h3>OR2024 Demo Instance by <a href="https://www.cottagelabs.com">Cottage Labs</a></h3>
      <!--<ol>
        <li style="font-size: 2em;">
          <h3 class="cl">INGESTION</h3>
        </li>
        <li style="font-size: 2em;">
          <h3 class="cl">DISCOVERABILITY</h3>
        </li>
      </ol>-->
      <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
      <div style="float: right;">Jens Hunt, Creative Commons Attribution-Share Alike 3.0 Unported license. Via Wikimedia Commons</div>
      <!--<p>Join an international community of <a href="https://wiki.lyrasis.org/display/DSPACE/DSpace+Positioning" target="_blank">leading institutions using DSpace</a>.</p>
      <p>The test user accounts below have their password set to the name of this
        software in lowercase.</p>
      <ul>
        <li>Demo Site Administrator = dspacedemo+admin@gmail.com</li>
        <li>Demo Community Administrator = dspacedemo+commadmin@gmail.com</li>
        <li>Demo Collection Administrator = dspacedemo+colladmin@gmail.com</li>
        <li>Demo Submitter = dspacedemo+submit@gmail.com</li>
      </ul>-->
    </div>
  </div>

  <picture class="background-image">
    <!--<source type="image/webp" srcset="assets/dspace/images/banner.webp 2000w, assets/dspace/images/banner-half.webp 1200w, assets/dspace/images/banner-tall.webp 768w">
    <source type="image/jpg" srcset="assets/dspace/images/banner.jpg 2000w, assets/dspace/images/banner-half.jpg 1200w, assets/dspace/images/banner-tall.jpg 768w">-->
    <source type="image/jpg" srcset="assets/cottagelabs/images/Clarion_Hotel_Post_(Gamla_posthuset),_Göteborg-min.jpg">
    <img alt="" [src]="'assets/cottagelabs/images/Clarion_Hotel_Post_2015_01.jpg'"/><!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
  </picture>
  <!--<small class="credits">Photo by <a href="https://www.pexels.com/@inspiredimages">&#64;inspiredimages</a></small>-->
</div>
